
<section>
<div class="container">


  <div class="row mbr-justify-content-center">

          <div class="col-lg-6 mbr-col-md-10" (click)="login()">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-volume-up fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">LogIn</h2>
                  </div>
              </div>
          </div>

      </div>

</div>

</section>
